<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>logo.svg" />
    <link
      rel="stylesheet"
      href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css"
    />
    <link href="https://fonts.cdnfonts.com/css/friz-quadrata-std" rel="stylesheet">
    <!-- <link href="//db.onlinewebfonts.com/c/6984c23f957059cae2318824dbfc0f1b?family=Friz+Quadrata+Std" rel="stylesheet" type="text/css"/> -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
      integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
    ></script>
    <title>LM AssIsT</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>

