<template>
  <div style="margin: auto; padding: 2.5%;">
    <div v-if="dataTeam1.length !== 5">
      <p
        @click="$router.push('Form')"
        style="font-weight: bold; font-size: 2em; color: rgb(15, 71, 65);; background-color: rgb(245, 237, 217);; border-radius: 50px; width: 300px; padding: 12px; cursor: pointer;"
      >
        Go Back
      </p>
    </div>
    <div v-else v-for="(item, index) in allTeamData" :key="index">
      <div class="columns">
        <div
          class="column"
          style="margin: auto; display: flex; justify-content: center"
        >
          <detail-item :data="item[0]" />
        </div>

        <div class="is-vcentered position is-justify-content-center">
          <img
            :src="require(`../assets/${index + 1}.png`)"
            alt=""
            style="margin-top: 35%"
            width="100"
          />
        </div>

        <div
          class="column"
          style="margin: auto; display: flex; justify-content: center"
        >
          <detail-item :data="item[1]" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DetailItem from "../components/DetailItem";
export default {
  components: {
    DetailItem,
  },
  computed: {
    dataTeam1() {
      return this.$store.getters["champion/getDataTeam1"];
    },
    dataTeam2() {
      return this.$store.getters["champion/getDataTeam2"];
    },
    allTeamData() {
      return [
        [this.dataTeam1[0], this.dataTeam2[0]],
        [this.dataTeam1[1], this.dataTeam2[1]],
        [this.dataTeam1[2], this.dataTeam2[2]],
        [this.dataTeam1[3], this.dataTeam2[3]],
        [this.dataTeam1[4], this.dataTeam2[4]],
      ];
    },
  },
  methods: {},
};
</script>

<style lang="scss" scpoed>
.position {
  height: 18%;
  font-weight: bold;
  font-size: 1.6em;
  color: rgb(167, 246, 255);
}
</style>
