<template>
  <div class="container" style="margin: auto;">
    <input
          v-model="gameInfo"
          class="input input-field"
          type="text"
          placeholder="Game info"
        />

    <div class="columns">
      <div class="column" style="padding: 2.5% 3% 0 3%; font-weiht: bold;">
        <input
          v-model="team_1"
          class="input input-field"
          type="text"
          placeholder="Team 1"
        />
      </div>
      <div class="column" style="padding: 2.5% 3% 0 3%; font-weiht: bold;">
        <input
          v-model="team_2"
          class="input input-field"
          type="text"
          placeholder="Team 2"
        />
      </div>
    </div>
    <div v-if="hasChampionData" class="columns" style="margin: auto;">
      <div class="column is-1"></div>
      <div class="column is-4">
        <draggable
          v-model="playerId1"
          v-bind="dragOptions"
          group="team1"
          @update="onUpdate1"
          @start="drag = true"
          @end="drag = false"
        >
          <transition-group type="transition">
            <div v-for="element in playerId1" :key="element">
              <form-item-left
                :positionId="positionId[element]"
                :isSubmit="isSubmit"
                :teamName="team_1"
                :championsName="championsName"
                :teamNo="1"
                @loadStatus="statusUpdate"
              />
            </div>
          </transition-group>
        </draggable>
      </div>

      <div class="column is-2">
        <div class="columns pos-image">
          <img src="../assets/1.png" alt="" />
        </div>
        <div class="columns pos-image">
          <img src="../assets/2.png" alt="" />
        </div>
        <div class="columns pos-image">
          <img src="../assets/3.png" alt="" />
        </div>
        <div class="columns pos-image">
          <img src="../assets/4.png" alt="" />
        </div>
        <div class="columns pos-image">
          <img src="../assets/5.png" alt="" />
        </div>
      </div>

      <div class="column is-4">
        <draggable
          v-model="playerId2"
          v-bind="dragOptions"
          group="team2"
          @update="onUpdate2"
          @start="drag = true"
          @end="drag = false"
        >
          <transition-group type="transition">
            <div v-for="element in playerId2" :key="element">
              <form-item-right
                :positionId="positionId[element]"
                :isSubmit="isSubmit"
                :teamName="team_2"
                :championsName="championsName"
                :teamNo="2"
                @loadStatus="statusUpdate"
              />
            </div>
          </transition-group>
        </draggable>
      </div>
      <div class="column is-1"></div>
    </div>
    <div class="[columns] " style="margin: 0;">
      <!-- <p style="font-size: 1.2em; color: red;">{{error}}</p> -->
      <div class="column is-full">
        <b-button rounded size="is-large" @click="submit" class="go-btn">
          <span class="main-button">GO MONITOR !</span>
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
import FormItemLeft from "../components/FormItemLeft";
import FormItemRight from "../components/FormItemRight";
import draggable from "vuedraggable";
export default {
  components: {
    FormItemLeft,
    FormItemRight,
    draggable,
  },
  data() {
    return {
      // error: "",
      gameInfo: "",
      isSubmit: false,
      team_1: "",
      team_2: "",
      statusCount: 0,
      playerId1: ["p11", "p12", "p13", "p14", "p15"],
      playerId2: ["p21", "p22", "p23", "p24", "p25"],
      positionId: {
        p11: 0, // top
        p12: 1, // jg
        p13: 2, // mid
        p14: 3, // adc
        p15: 4, // sup
        p21: 0,
        p22: 1,
        p23: 2,
        p24: 3,
        p25: 4,
      },
    };
  },
  computed: {
    dragOptions() {
      return {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost",
      };
    },
    championsName() {
      return this.$store.getters["champion/getChampionsName"];
    },
    hasChampionData() {
      return (
        this.championsName != null &&
        this.championsName != undefined &&
        this.championsName != []
      );
    },
  },
  async mounted() {
    this.statusCount = 0;
    this.isSubmit = false;
    await this.$store.dispatch("champion/loadChampionsName");
  },
  methods: {
    onUpdate1() {
      for (let index = 0; index < 5; index++) {
        this.positionId[this.playerId1[index]] = index;
      }
    },
    onUpdate2() {
      for (let index = 0; index < 5; index++) {
        this.positionId[this.playerId2[index]] = index;
      }
    },
    submit() {
      this.isSubmit = true;
    },
    statusUpdate(val) {
      this.statusCount += val;
    },
  },
  watch: {
    statusCount(val) {
      if (val === 10 && this.isSubmit) {
        this.$store.dispatch("champion/setGameInfo", this.gameInfo);
        this.$router.push({ name: "Detail" });
      }
    },
  },
};
</script>

<style lang="scss" scope>
@media only screen and (min-width: 1024) {
  .pos-image {
    margin: auto;
    width: 50%;
  }
}

.pos-image {
  margin: auto;
  width: 42%;
}

.go-btn {
  font-family: "Friz Quadrata Std", sans-serif;
  font-weight: bold;
  color: rgb(214, 182, 121);
  border-color: rgb(138, 111, 62);
  background-color: rgb(17, 17, 17);
}

.go-btn:hover,
.go-btn:focus {
  background-color: rgb(0, 121, 134);
  color: rgb(253, 234, 198);
}

.input-field {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #3a7875;
  color: #f4de93;
  font-size: 120%;
  text-align: center;
  width: 60%;
}

.input-field:hover {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #a5f5d8;
}

.input-field:focus {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #f4de93;
  box-shadow: 0 0 0;
}
</style>
