<template>
  <div class="container has-text-centered">
    <p class="hero-content">
      LOL M<i class="fas fa-headset fa-xs"></i>NITORING ASSISTANT
    </p>
    <hr style="background-color:  rgb(0, 255, 225);" />

    <b-button rounded size="is-large" @click="goToMonitor" class="test">
      <span class="main-button">START</span>
    </b-button>
  </div>
</template>

<script>
export default {
  name: "Home",
  mounted() {
    this.$store.dispatch("champion/loadChampionsName");
  },
  methods: {
    goToMonitor() {
      this.$router.push({name: "Form"});
    },
  },
};
</script>

<style lang="scss">

.hero-content {
  font-weight: bold;
  font-size: 3em;
  color: rgb(245, 237, 217);
}

.main-button {
  color: rgb(20, 184, 164);
  font-weight: bold;
  font-family: 'Friz Quadrata Std', sans-serif;
}

.test:hover {
  background-color:  rgb(245, 237, 217);
}
</style>
