<template>
  <div class="container" style="">
    <h2 class="header-title">How to use</h2>
    <ul style="margin-top: 3%; font-size:1.3em">
      <li>1. Go to 'Form' page</li>
      <li>2. Fill the player name, champions and team name</li>
      <li>3. Submit form and go monitor!</li>
    </ul>
    <p class="warning" style="margin-top: 40%">
      Warning: Error display image of new champions [Akshan, Gwen]
    </p>
  </div>
</template>

<style lang="scss">
.header-title {
  font-weight: bold;
  font-size: 2em;
  color: rgb(245, 237, 217);
}

.warning {
  color: rgb(136, 132, 119);
}
</style>
