<template>
  <div class="box1">
    <div class="container-2">
      <div
        style="
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 1%;
        "
      >
        <div v-if="dataTeam1.length !== 5">
          <p
            @click="$router.push('Form')"
            style="font-weight: bold; font-size: 2em; background-color: black; border-radius: 50px; width: 300px; padding: 12px; cursor: pointer;"
          >
            Go Back
          </p>
        </div>
        <div v-else>
          <p
            style="
            font-family: Arial, sans-serif; 
            font-weight: bold; 
            text-align: right; 
            font-size: 1.5em; 
            margin-bottom: 15px;
            cursor: pointer;
          "
            @click="$router.push('Detail')"
          >
            {{ gameInfo }}
          </p>
          <div
            v-for="(item, index) in allTeamData"
            :key="index"
            style="margin: 8px"
          >
            <div class="columns row-card">
              <div
                class="column item-card-load"
                :style="{
                  'background-image':
                    'url(' + image(`${item[0].championData.name}L`) + ')',
                  'background-position': 'left',
                  'background-repeat': 'no-repeat',
                  'background-size': 'cover',
                  'font-family': 'Arial, sans-serif',
                  'font-weight': 'bold',
                  'text-align': 'right',
                }"
              >
                <p style="font-size: 1.6em; margin-right: 5px;">
                  {{ item[0].playerName }}
                </p>
                <p style="font-size: 2.7em; margin-right: 5px;">
                  {{ item[0].championData.name.toUpperCase() }}
                </p>
              </div>

              <div
                class="is-vcentered position is-justify-content-center position-card"
                style="background: rgb(3, 12, 21);"
              >
                <img
                  :src="require(`../assets/${index + 1}.png`)"
                  alt=""
                  style="margin-top: 12px"
                  width="100"
                />
              </div>

              <div
                class="column item-card-load"
                :style="{
                  'background-image':
                    'url(' + image(`${item[1].championData.name}L`) + ')',
                  'background-position': 'left',
                  'background-repeat': 'no-repeat',
                  'background-size': 'cover',
                  'font-family': 'Arial, sans-serif',
                  'font-weight': 'bold',
                  'text-align': 'left',
                  transform: 'scaleX(-1)',
                }"
              >
                <p
                  style="font-size: 1.6em; margin-left: 5px;  transform: scaleX(-1);"
                >
                  {{ item[1].playerName }}
                </p>
                <p
                  style="font-size: 2.7em; margin-left: 5px; transform: scaleX(-1);"
                >
                  {{ item[1].championData.name.toUpperCase() }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    gameInfo() {
      return this.$store.getters["champion/getGameInfo"];
    },
    dataTeam1() {
      return this.$store.getters["champion/getDataTeam1"];
    },
    dataTeam2() {
      return this.$store.getters["champion/getDataTeam2"];
    },
    allTeamData() {
      return [
        [this.dataTeam1[0], this.dataTeam2[0]],
        [this.dataTeam1[1], this.dataTeam2[1]],
        [this.dataTeam1[2], this.dataTeam2[2]],
        [this.dataTeam1[3], this.dataTeam2[3]],
        [this.dataTeam1[4], this.dataTeam2[4]],
      ];
    },
  },
  methods: {
    image(champion) {
      const bgImage = require(`../assets/championCover/${champion
        .replace(/\s/g, "")
        .replace("'", "")
        .replace("&", "")
        .replace(".", "")}.png`);
      return bgImage;
    },
  },
};
</script>
<style lang="scss" scope>
.container-2 {
  height: 100vh;
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}
.header-title {
  font-weight: bold;
  font-size: 2em;
  color: rgb(245, 237, 217);
}

.warning {
  color: rgb(136, 132, 119);
}

.row-card {
  border: 3px solid #e4c376;
}

.position-card {
  border-left: 3px solid #e4c376;
  border-right: 3px solid #e4c376;
}

.item-card-load {
  height: 124px;
  width: 550px;
}

.box1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../assets/bg2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
