<template>
  <div>
    <video autoplay muted loop id="myVideo" class="video-wrapper">
      <source src="../assets/videoBg.mp4" type="video/mp4" />
      Your browser does not support HTML5 video.
    </video>
    <div class="content container" style="margin-top: 2%;">
      <div contenteditable="true" class="columns" style="font-size: 1.8em;">
        <span style="text-align: left;">
          XX : XX Game 1
        </span>
      </div>
      <div class="columns">
        <!-- Team 1 -->
        <div class="is-2">
          <div
            :style="{
              padding: '0px',
              'background-image': 'url(' + image(tName1) + ')',
              'background-position': 'center',
              'background-repeat': 'no-repeat',
              'background-size': 'cover',
              width: '200px',
              height: '100%',
              border: '3px solid #e4c376',
            }"
            @click="$router.push({ name: 'Winner', params: {tName: tName1}})"
          />
        </div>
        <div
          contenteditable="true"
          class="column is-3"
          :style="{
            'background-color': 'black',
            'font-family': 'Arial, sans-serif',
            'font-weight': 'bold',
            'text-align': 'right',
            border: '3px solid #e4c376',
          }"
        >
          <span style="font-size: 1.6em; margin-left: 5px;">
            Team name
          </span>

          <p id="tName1" style="font-size: 2.7em; margin-left: 5px;">
            XXX
          </p>
        </div>

        <!-- VS -->
        <div
          @click="getTeamImage"
          class="is-vcentered is-justify-content-center column"
          style="width: 10%; cursor: pointer;"
        >
          <p style="font-weigth: bold; font-size: 5em; color: white;">VS</p>
        </div>

        <!-- Team 2 -->
        <div
          contenteditable="true"
          class="column is-3"
          :style="{
            'background-color': 'black',
            'font-family': 'Arial, sans-serif',
            'font-weight': 'bold',
            'text-align': 'left',
            border: '3px solid #e4c376',
          }"
        >
          <span style="font-size: 1.6em; margin-left: 5px;">
            Team name
          </span>

          <p id="tName2" style="font-size: 2.7em; margin-left: 5px;">
            XXX
          </p>
        </div>
        <div class="is-2">
          <div
            :style="{
              padding: '0px',
              'background-image': 'url(' + image(tName2) + ')',
              'background-position': 'center',
              'background-repeat': 'no-repeat',
              'background-size': 'cover',
              width: '200px',
              height: '100%',
              border: '3px solid #e4c376',
            }"
            @click="$router.push({ name: 'Winner', params: {tName: tName2}})"
          />
        </div>
      </div>

      <!-- Score -->
      <div
        class="columns"
        style="font-size: 3.5em; margin-top: 2%"
        contenteditable="true"
      >
        <div id="score1" class="column"></div>
        <div id="score2" class="column"></div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      tName1: "",
      tName2: "",
      score1: 0,
      score2: 0
    };
  },
  computed: {
    gameInfo() {
      return this.$store.getters["champion/getGameInfo"];
    },
    dataTeam1() {
      return this.$store.getters["champion/getDataTeam1"];
    },
    dataTeam2() {
      return this.$store.getters["champion/getDataTeam2"];
    },
    allTeamData() {
      return [
        [this.dataTeam1[0], this.dataTeam2[0]],
        [this.dataTeam1[1], this.dataTeam2[1]],
        [this.dataTeam1[2], this.dataTeam2[2]],
        [this.dataTeam1[3], this.dataTeam2[3]],
        [this.dataTeam1[4], this.dataTeam2[4]],
      ];
    },
  },
  methods: {
    getTeamImage() {
      this.tName1 = document.getElementById("tName1").innerHTML;
      this.tName2 = document.getElementById("tName2").innerHTML;
    },
    image(team) {
      try {
        const image = require(`../assets/teamImage/${team
          .replace(/\s/g, "")
          .replace(".", "")}.png`);
        return image;
      } catch (error) {
        return "https://ddragon.leagueoflegends.com/cdn/11.22.1/img/profileicon/29.png";
      }
    },
  },
};
</script>

<style lang="scss" scope>
.input-field {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #3a7875;
  color: #f4de93;
  font-size: 120%;
  text-align: center;
  width: 60%;
}

.input-field:hover {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #a5f5d8;
}

.team-title {
  font-weight: bold;
  font-size: 2.5em;
}

.winner {
  font-weight: bold;
  font-size: 3.5em;
}

.header-title {
  font-weight: bold;
  font-size: 2em;
  color: rgb(245, 237, 217);
}

.warning {
  color: rgb(136, 132, 119);
}

.row-card {
  border: 3px solid #e4c376;
}

.position-card {
  border-left: 3px solid #e4c376;
  border-right: 3px solid #e4c376;
}

.item-card-vs {
  height: 124px;
  width: 300px;
}

.box2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../assets/bg2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.video-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1%;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.glow {
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 6px #fff, 0 0 7px #6b5b00, 0 0 8px #6b5b00,
      0 0 9px #6b5b00, 0 0 10px #6b5b00, 0 0 11px #6b5b00;
  }

  to {
    text-shadow: 0 0 6px #fff, 0 0 7px #d3b300, 0 0 8px #d3b300, 0 0 9px #d3b300,
      0 0 10px #d3b300, 0 0 11px #d3b300, 0 0 12px #d3b300;
  }
}
</style>
