<template>
  <div>
    <video autoplay muted loop id="myVideo" class="video-wrapper">
      <source src="../assets/videoBg.mp4" type="video/mp4" />
      Your browser does not support HTML5 video.
    </video>
    <div class="content">
      <div style="position: relative; margin-top: 5%;">
        <p contenteditable="true" id="tName" class="team-title">XXX</p>
        <div
          :style="{
            'position': 'absolute',
            'top': '50%',
            'left': '50%',
            'transform': 'translate(-50%, -50%)',
            'background-image': 'url(' + image(tName || tNameC) + ')',
            'background-position': 'center',
            'background-repeat': 'no-repeat',
            'background-size': 'cover',
            'border': '5px solid #e4c376',
            'width': '20%',
            'height': '60%',
            'cursor': 'pointer'
          }"
          @click="getTeamImage"
        />
        <p class="winner glow" style="margin-top: 20%; cursor: pointer;" @click="$router.push('Detail')">WINNER</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    tName: {
      type: Object,
    },
  },
  data() {
    return {
      tNameC: ""
    }
  },
  methods: {
    getTeamImage() {
      this.tNameC = document.getElementById("tName").innerHTML;
    },
    image(team) {
      try {
        const image = require(`../assets/teamImage/${team
          .replace(/\s/g, "")
          .replace(".", "")}.png`);
        return image;
      } catch (error) {
        return "https://ddragon.leagueoflegends.com/cdn/11.22.1/img/profileicon/29.png";
      }
    },
  },
};
</script>
<style lang="scss" scope>
.team-title {
  font-weight: bold;
  font-size: 2.5em;
}

.winner {
  font-weight: bold;
  font-size: 3.5em;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.video-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1%;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.glow {
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 6px #fff, 0 0 7px #6b5b00, 0 0 8px #6b5b00, 0 0 9px #6b5b00, 0 0 10px #6b5b00, 0 0 11px #6b5b00;
  }
  
  to {
    text-shadow: 0 0 6px #fff, 0 0 7px #d3b300, 0 0 8px #d3b300, 0 0 9px #d3b300, 0 0 10px #d3b300, 0 0 11px #d3b300, 0 0 12px #d3b300;
  }
}
</style>
