<template>
  <div class="columns" style="width: 90%">
    <div class="column is-2">
      <img
        :src="championImage"
        alt=""
        width="100"
        class="icon-image"
        style="position: relative; top: 50%; transform: translateY(-50%)"
        onerror="this.onerror=null;this.src='https://ddragon.leagueoflegends.com/cdn/11.22.1/img/profileicon/29.png';"
      />
    </div>

    <div class="column">
      <div class="has-text-left">
        <span
          style="font-size: 1.2em; font-weight: bold; color: rgb(250, 234, 162)"
        >
          {{ data.championData.name }}
        </span>
        <span style="font-size: 1em"> ( {{ data.playerName }} ) </span>
      </div>

      <div class="columns" style="font-size: 90%">
        <div class="column has-text-centered">
          <div style="text-align: center">passive</div>
          <img :src="data.championData.images.passive" alt="" width="40%" />
          <div>{{ data.championData.skills.passive.name }}</div>
        </div>

        <div class="column has-text-centered">
          <div style="text-align: center">Q</div>
          <img :src="data.championData.images.q" alt="" width="40%" />
          <div>{{ data.championData.skills.q.name }}</div>
        </div>
        <div class="column has-text-centered">
          <div style="text-align: center">W</div>
          <img :src="data.championData.images.w" alt="" width="40%" />
          <div>{{ data.championData.skills.w.name }}</div>
        </div>
        <div class="column has-text-centered">
          <div style="text-align: center">E</div>
          <img :src="data.championData.images.e" alt="" width="40%" />
          <div>{{ data.championData.skills.e.name }}</div>
        </div>
        <div class="column has-text-centered">
          <div style="text-align: center">R</div>
          <img :src="data.championData.images.r" alt="" width="40%" />
          <div>{{ data.championData.skills.r.name }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      require: true,
    },
  },
  computed: {
    championImage() {
      return this.data.championData.images.small;
    },
  },
};
</script>


<style scope>
.icon-image {
  border-radius: 50%;
  border: 3px solid #ae914b;
}
</style>