<template>
  <div class="form-item">
    <div class="columns" style="margin: 0;">
      <div class="column is-2" style="margin: auto; padding: 0;">
        <div v-if="hasData">
          <img
            :src="data.championData.images.small"
            class="icon-image"
            onerror="this.onerror=null;this.src='https://ddragon.leagueoflegends.com/cdn/11.22.1/img/profileicon/29.png';"
          />
        </div>
        <div v-else>
          <img :src="basicImage" class="icon-image" />
        </div>
      </div>
      <div class="column is-9" style="margin: auto; padding: 0;">
        <input
          style="margin-bottom: 2.5%;"
          v-model="data.playerName"
          class="input is-small is-rounded input-field-champion"
          type="text"
          placeholder="Summoner name"
        />
        <section>
          <b-field>
            <b-autocomplete
              rounded
              v-model="selectedChampion"
              size="is-small"
              :data="filteredDataArray"
              placeholder="Select champion"
              icon="magnify"
              clearable
              @select="loadData"
              :open-on-focus="true"
            >
              <template #empty>No results found</template>
            </b-autocomplete>
          </b-field>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
// import debounce from "lodash/debounce";
export default {
  props: {
    isSubmit: {
      type: Boolean,
      require: true,
    },
    teamName: {
      type: String,
      require: true,
    },
    championsName: {
      type: Array,
      require: true,
    },
    teamNo: {
      type: Number,
      require: true,
    },
    positionId: {
      type: Number,
      require: true,
    },
  },
  data() {
    return {
      basicImage:
        "https://ddragon.leagueoflegends.com/cdn/11.22.1/img/profileicon/29.png",
      selectedChampion: "",
      isFetching: false,
      data: {
        team: "",
        teamNo: -1,
        playerName: "",
        position: -1,
        championData: {},
      },
    };
  },
  computed: {
    hasData() {
      return Object.keys(this.data.championData).length !== 0;
    },
    filteredDataArray() {
      return this.championsName.filter((option) => {
        return (
          option
            .toString()
            .toLowerCase()
            .indexOf(this.selectedChampion.toLowerCase()) >= 0
        );
      });
    },
    getPositionName() {
      const nameList = ["Top", "Jungle", "Mid", "ADC", "Support"];
      return nameList[this.positionId];
    },
  },
  methods: {
    sleep(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms));
    },
    async loadData() {
      await this.sleep(100);
      if (this.championsName.indexOf(this.selectedChampion) > -1) {
        try {
          this.data.championData = await this.$store.dispatch(
            "champion/loadChampionData",
            this.selectedChampion
          );
        } catch (error) {
          console.error(error);
        }
      }
    },
    async computeData() {
      this.data.team = this.teamName;
      this.data.teamNo = this.teamNo;
      this.data.position = this.positionId;
      this.data.championData = await this.$store.dispatch(
        "champion/loadChampionData",
        this.selectedChampion
      );
      await this.$store.dispatch("champion/addToCompleteData", this.data);
      this.$emit("loadStatus", 1);
    },
  },
  watch: {
    isSubmit(val) {
      if (val) {
        this.computeData();
      }
    },
  },
};
</script>

<style lang="scss" scope>
.columns {
  margin-bottom: 0px;
  margin-left: 50px;
  margin-right: 50px;
}
.form-item {
  // background-color: #14555b;
  // border-radius: 50px;
  // border-bottom: 2px solid #f4de93;
  padding-bottom: 4%;
}
.icon-image {
  border-radius: 50%;
  border: 5px solid #ae914b;
}
// .input-field-champion {
//   background-color: transparent;
//   border: 0;
//   border-bottom: 1px solid #3a7875;
//   color: #f4de93;
//   font-size: 0.9em;
//   // text-align: center;
// }

// .input-field-champion:hover {
//   background-color: transparent;
//   border: 0;
//   border-bottom: 2px solid #a5f5d8;
// }

// .input-field-champion:focus {
//   background-color: transparent;
//   border: 0;
//   border-bottom: 2px solid #f4de93;
//   box-shadow: 0 0 0;
// }
</style>
