<template>
  <div id="app" class="background">
    <section class="hero is-large is-fullheight background">
      <div class="hero-head">
        <nav class="navbar" v-if="isShowNav">
          <div class="container">
            <div class="navbar-brand">
              <span class="brand" @click="goToHome">
                <i class="fas fa-headset"></i> LM AssIsT
              </span>
              <span class="navbar-burger" data-target="navbarMenuHeroB">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroB" class="navbar-menu">
              <div class="navbar-end">
                <a
                  class="navbar-item"
                  @click="$router.push({ name: 'Form' })"
                >
                  Form
                </a>
                <a
                  class="navbar-item"
                  @click="$router.push({ name: 'Detail' })"
                >
                  Monitor
                </a>
                <router-link
                  class="navbar-item"
                  to="/loading"
                >
                  Loading screen
                </router-link>
                <router-link
                  class="navbar-item"
                  to="/vs"
                >
                  VS
                </router-link>
                <router-link
                  class="navbar-item"
                  to="/winner"
                >
                  Winner
                </router-link>
                <a
                  class="navbar-item"
                  @click="$router.push({ name: 'HowToUse' })"
                >
                  How to use
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <!-- class="hero-body" -->
      <div class="hero-body" style="padding: 0">
        <router-view />
      </div>
    </section>
  </div>
</template>

<script>
export default {
  methods: {
    goToHome() {
      this.$router.push({ name: "Home" });
    },
  },
  computed: {
    isShowNav() {
      const noNavPages = ["Winner","Loading","Vs"];
      return  !noNavPages.includes(this.$route.name);
    },
  },
  mounted() {
    this.$store.dispatch("champion/loadGameVersion");
  },
};
</script>

<style scope>
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

#app {
  font-family: "Friz Quadrata Std", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: rgb(245, 237, 217);
}

.brand {
  cursor: pointer;
  font-weight: bold;
  font-size: 2.2em;
  margin-top: 5%;
  color: rgb(245, 237, 217);
}

a.navbar-item {
  color: rgb(245, 237, 217);
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
    background-color: #fffcf9;
    color: rgb(3, 12, 21);
}

.background {
  background-color: rgb(3, 12, 21);
}

</style>
